[Bb]in/
[Oo]bj/

*.received.txt
/.vs/TheatricalPlayersRefactoringKata/FileContentIndex/019d8f8b-7207-441d-b49d-dc722e1d2b9d.vsidx
/.vs/TheatricalPlayersRefactoringKata/FileContentIndex/8deb4707-b70e-4e7e-a900-07e99e18c0db.vsidx
