[Bb]in/
[Oo]bj/

*.received.txt
/.vs/TheatricalPlayersRefactoringKata/CopilotIndices/0.2.1634.3922
/.vs/TheatricalPlayersRefactoringKata/DesignTimeBuild
/.vs/TheatricalPlayersRefactoringKata/FileContentIndex
/.vs/TheatricalPlayersRefactoringKata/v17/TestStore/0
/.vs/TheatricalPlayersRefactoringKata/v17/.suo
/.vs/TheatricalPlayersRefactoringKata/v17
/.vs/TheatricalPlayersRefactoringKata/copilot-chat/5308bbec/sessions
/.vs/ProjectEvaluation
